$black: black;
$white: white;
$red : rgb(240, 76, 76);
.alert
{
    display: block;
    margin: 0;
    padding:0;
    border: none;
    border-radius: 0;
    background-color: $black;
        .alertion-text
        {
            .red
            {
                p{
                    @media screen and (min-width:320px) and (max-width:480px) 
                    {
                        display: flex;
                        font-size: 12px;
                        margin:0;
                        padding: 0;
                        margin-bottom: 6px;
                        justify-content: center;
                        align-items: center;
                    }
                    @media screen and (min-width:180px) and (max-width:479px){
                        display: flex;
                        font-size: 10px;
                        margin:0;
                        padding: 0;
                        margin-bottom: 6px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
}

