$white: white;
.navbar{
    height: 100px;
    margin: 0;
    width: 100%;
    .Navbar-logo{
        margin-right: 30px;
    }
    .Navbar-searchbar
    {
        display: flex;
        flex: 1;
            .Navbar-Input
            {
                width: 100%;
                padding: 5px 60px 5px 10px;
                outline: none;
                height: 48px;
                // border-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                color: #aaaaaa;
                font-size: 14px;
                font-weight: 700;
                background: rgba(228, 227, 227, 0.7);
                border: 2px solid rgba(228, 227, 227, 0.7);
                border-right: none;
                    &::placeholder
                    {
                        color: #aaaaaa;
                    }   
            }
            .Navbar-button
            {
                position: relative;
                background: rgba(228, 227, 227, 0.7);;
                outline: none;
                border: 2px solid rgba(228, 227, 227, 0.7);
                border-left: none;
                font-size: 14px;
                right:0;
                border-bottom-right-radius: 17px;
                border-top-right-radius: 17px;
                &.transparent{
                    background: transparent;
                }
        }
    }
    .Navbar-nav
    {
        display: flex;
        justify-content: space-around;
        width: 300px;
        margin-right: 25px;
        text-align: center;
        margin-left:35px ;
            .nav-box1
            {
                margin-left: 5px;
                margin-right: 5px;
                padding: 0px 8px;
                cursor: pointer;
                    &:hover .nav-logo
                    {
                        color: orange;
                        transition: 0.6s all ease-in-out;
                    }    
            }
            
        }
}

