.Menu-container{
    @media screen and (min-width:180px) and (max-width:359px){
        display: none;
        }
        @media screen and (min-width:360px) and (max-width:480px){
        display: none;
        }  
        @media screen and (min-width:481px) and (max-width:767px){
        display: none;
        }    
        @media screen and (min-width:768px) and (max-width:1023px){
        display: block; 
        }
.slide_container{
    @media screen and (min-width:1201px) and (max-width:5000px){
        margin: 0px 252px 
    }
    .menu-head{
       .menu-show{
           h5{
            @media screen and (min-width:768px) and (max-width:1023px){
                font-size: 13px;
                margin: 2px;
                padding:2px;
            }
            @media screen and (min-width:481px) and (max-width:767px){
                font-size: 10px;
                padding: 2px;
                margin:1px;
            } 
           }
       }
    }
}
}