@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body{
  font-family: 'Baloo Bhai 2', cursive;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

